parameters:
  scanFiles:
    - tests/Fake/fake-app/src/Resource/App/Code.php
    - tests/Fake/fake-app/src/Resource/App/NullView.php
    - tests/Fake/fake-app/src/Resource/App/TypedParam.php
    - tests/Fake/fake-app/src/Resource/App/User.php
    - tests/Fake/fake-app/src/Resource/App/User/Profile.php
    - tests/Fake/fake-app/src/Resource/Page/Index.php
  level: max
  paths:
    - src
    - tests
  excludes_analyse:
    - */tests/tmp/*
    - */tests/Fake/*
    - */src/StorageRedisCacheProvider.php*
  ignoreErrors:
    -
      message: '#but return statement is missing#'
      path: tests/ResourceRepositoryTest.php